@charset "utf-8";

@import "../node_modules/bulma/sass/utilities/initial-variables";

/* Site font */
$family-sans-serif: "Verdana", sans-serif;

/* Site colors */
$grey: #ccc;
$primary: #3a99ad;
$warning: #f8ffd9;

@import "../node_modules/bulma/bulma";
@import "../node_modules/bulma-tooltip/src/sass/index.sass";

/* Centering bottom left footer statement in line with button row */
.hero-foot > div > div {
    margin-top: 6.5px;
}
.hero-foot .columns {
    margin: 0 auto;
}

/* Underlining about tile titles */
h6.title {
    text-decoration: underline;
}

html {
    background-color: $primary;
}

.card {
    border-radius: 20px;
}
